registry=https://registry.npmmirror.com/
sentrycli_cdnurl=https://npm.taobao.org/mirrors/sentry-cli/

# https://github.com/serverless-heaven/serverless-webpack/issues/422#issuecomment-1017782023
# 适配 serverless-webpack
node-linker=hoisted
shared-workspace-lockfile=false
